--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

torch==2.11.0+cu128
torchvision==0.26.0+cu128
torchaudio==2.11.0+cu128

onnxruntime-gpu
insightface
faiss-cpu
sqlalchemy
ultralytics
loguru
numpy<2.0
opencv-python
pillow
scikit-learn
scikit-image
scipy
pandas
matplotlib
tqdm
pyyaml
fastapi
uvicorn[standard]
python-multipart
pyttsx3
sounddevice
faster-whisper
openwakeword
melotts @ git+https://github.com/myshell-ai/MeloTTS.git
